html {
  font-size: 15px;
  font-family: "Oswald", "HelveticaNeue-CondensedBold", "Arial Narrow", "Hiragino Sans GB", "Microsoft YaHei",
             "WenQuanYi Micro Hei",  sans-serif;
  line-height: 1.4;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #f2e8d5;
  &:before {
    display: block;
    width: 100%;
    height: 40px;
    content: '';
  }
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
nav {
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: calc(100% - 76px);
  a {
    display: inline-block;
    color: #fff;
    padding: .5em .7em .6em;
    margin: 0 3px 0 0;
    text-decoration: none;
    background: rgba(255,255,255,0.1);
  }
  a.important {
    background-color: #FF7D40;
  }
  &::after {
    content: "";
    width: 0;
    height: 0;
    border-bottom-width: 38px;
    border-left-width: 0px;
    border-right-width: 38px;
    border-top-width: 0px;
    position: absolute;
    right: -38px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: rgba(0, 0, 0, 0.7);
  }
}

body > article {
  max-width: 510px;
}

@media (min-width: 800px) {
  body > article {
    max-width: 947px;
  }
}  
