<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="{{description}}"/>
  <meta name="keywords" content="{{keywords}}"/>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <link rel="manifest" href="/demos/pushsubscribe/manifest.json" />
  <link rel="icon" href="https://s0.ssl.qhres.com/static/2ec2a560a50f94ec.ico">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="{{appname}}">
  <meta name="msapplication-starturl" content="https://ispwaready.toxicjohann.com">
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#f2e8d5">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#f2e8d5">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="{{appname}}">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon" href="https://p5.ssl.qhimg.com/t01245986c32f09718d.png">
  <link rel="apple-touch-startup-image" href="https://p5.ssl.qhimg.com/t01245986c32f09718d.png">
  {%block page_css%}
  {% endblock %}
</head>
<body>
  <nav>
    {% for key, link in nav%}
      <a href="{{link}}">{{key}}</a>
    {% endfor %}
  </nav>
  {% block body %}
  {% endblock %}
  {% if serverData %}
  <script type="text/javascript" id="server_data">
    try {
      window.SD = {{ JSON.stringify(serverData) |safe  }}
    } catch (err) {
      console.error(err)
    }
  </script>
  {% endif %}
  <script>
      window.SD = window.SD || {}
  </script>
  {%block page_js%}
  {% endblock %}
</body>
</html>