<!DOCTYPE html>
<html lang=zh-cmn-Hans>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="PWA在中国区的可用性调查, is pwa ready in China"/>
  <meta name="keywords" content="pwa, progress web app, 中国, China, ServiceWorker, Web app manifest, push api, cacheStorage, backgroundSync, Chrome, qq, 360, Safari, UC, Firefox"/>
  <title>PWA，准备好了吗？</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <link rel="manifest" href="/demos/pushsubscribe/manifest.json" />
  <link rel="icon" href="https://s0.ssl.qhres.com/static/2ec2a560a50f94ec.ico">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="PWA的进程">
  <meta name="msapplication-starturl" content="https://ispwaready.toxicjohann.com">
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#102a48">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#102a48">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="PWA的进程">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon" href="https://p5.ssl.qhimg.com/t01245986c32f09718d.png">
  <link rel="apple-touch-startup-image" href="https://p5.ssl.qhimg.com/t01245986c32f09718d.png">
</head>
<body>
  <header>
    <h1>PWA，准备好了吗？</h1>
    <!-- <h4>一个人的命运啊，当然要靠自我奋斗，但是也要考虑到历史的进程。</h4> -->
    <ul>
      <li><a href="https://w3c.github.io/ServiceWorker/">规范</a></li>
      <li><a href="https://github.com/toxic-johann/is-pwa-ready">Github</a></li>
      <li><a href="/auto/">自动测试</a></li>
    </ul>
  </header>
  {% for feature in features %}
    {% set featureId = feature.name|striptags|lower|replace("\s+", '-', 'g') %}
    <article class="feature" id="{{ featureId }}">
      <header>
        <a href="#{{ featureId }}" class="perma">
          <h2 class="feature-name">
            {{ feature.name|safe }}
          </h2>
        </a>
        <p>{{ feature.description|safe }}</p>
      </header>
      <div class="results">
        {% for browser in browsers %}
          <section class="result {% if feature[browser.id].supported == 0.5 %}ish{% elif feature[browser.id].supported == 0.8 %} soso {% elif feature[browser.id].supported %} yes{% else %}no{% endif %}">
            <h2 class="icon {{ feature[browser.id].icon|default(browser.id) }}">{{browser.name}}</h2>
            {% if browser.mobile %}
              <span class="isMobile">m</span>
            {% endif %}
            {% if feature[browser.id].supported %}
              <p class="support">
                {% if feature[browser.id].supported == 0.5 %}
                  Somewhat supported
                {% else %}
                  Supported
                {% endif %}
                {% if feature[browser.id].minVersion %}
                  since version <span class="version">{{ feature[browser.id].minVersion }}</span>
                {% endif %}
              </p>
            {% else %}
              <p class="support">No support</p>
            {% endif %}
          </section>
        {% endfor %}
    </div>
        <ul class="details">
          {% for browser in browsers %}
            {% for detail in feature[browser.id].details %}
              <li><strong>{{ browser.name }}:</strong> {{ detail|safe }}</li>
            {% endfor %}
          {% endfor %}
          {% for detail in feature.details %}
            <li>{{ detail|safe }}</li>
          {% endfor %}
        </ul>
    </article>
  {% endfor %}
</body>
</html>